# Mark shell scripts as executable.
# The pre-commit hook restores the executable bit in Git's index
# for these files, even when edited on Windows.
*.sh executable
tools/pre-commit-code executable
tools/pre-commit-hook executable
tools/remove_default_prefix/remove_default_prefix.py executable
tools/serializer/pre-commit executable
tools/setup.cmd executable
