name: Validate gist Ontology

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install onto-tool
        run: |
          python -m pip install --upgrade pip
          python -m pip install guess-language-spirit
          python -m pip install onto-tool
      - name: Build distribution
        run: |
          onto_tool bundle bundle.yaml
